*{
   -fx-font-family: "Segoe UI Semibold";
}


.text-field{
    -fx-font-size: 8pt;
    -fx-font-family: "Segoe UI Semibold";
	-fx-border-radius: 0 0 0 0; 
	-fx-background-radius: 0 0 0 0;
}

.date-picker  > .text-field{
    -fx-font-size: 8pt;
    -fx-font-family: "Segoe UI Semibold";
	-fx-border-radius: 0 0 0 0; 
	-fx-background-radius: 0 0 0 0;
}


.date-picker > .arrow-button {
   -fx-background-color: #4D6DB1;
   	-fx-border-radius: 0 0 0 0; 
	    -fx-border-color: #4D6DB1;
	-fx-background-radius: 0 0 0 0;
}

.date-picker > .arrow-button > .arrow {
   -fx-background-color: white;
}


*:focused {
 -fx-border-color: #7297e5;
}

.date-picker  {
    -fx-font-size: 8pt;
    -fx-font-family: "Segoe UI Semibold";
	-fx-border-radius: 0 0 0 0; 
	-fx-background-radius: 0 0 0 0;
	-fx-border-color: #222E57;
}

.text-area{
    -fx-font-size: 8pt;
    -fx-font-family: "Segoe UI Semibold";
	-fx-border-radius: 0 0 0 3; 
	-fx-background-radius: 0 0 0 0;
}


#textfieldfilter {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
	-fx-border-radius: 0 0 0 0; 
	-fx-background-radius: 0 0 0 0;
}

.button {
    -fx-font-size: 8pt;
	-fx-text-fill: white;
    -fx-font-family: "Segoe UI Semibold";
	-fx-border-radius: 0 0 0 0; 
	-fx-background-radius: 0 0 0 0;
	-fx-background-color: #4D6DB1;
    -fx-border-color: #222E57;
    -fx-border-width: 2;
	
}

.button:hover {
    -fx-background-color: #7297e5;
}


.button:pressed {
  -fx-background-color: #4D6DB1;
  -fx-text-fill: white;
}

#buttonsort{
-fx-border-width: 0;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #4D6DB1;
    -fx-text-fill: white;
}

#reportbtn {
    -fx-font-size: 8pt;
    -fx-font-family: "Segoe UI Semibold";
	-fx-border-radius: 0 0 0 0; 
	-fx-background-radius: 0 0 0 0;
	-fx-text-fill: #FFFFFF;
	-fx-background-color: #4D6DB1;
    -fx-border-color: #222E57;
    -fx-border-width: 2;
	-fx-mark-color: white;
}

#reportbtn:hover {
    -fx-background-color: #7297e5;
}


#reportbtn:pressed {
  -fx-background-color: #4D6DB1;
  -fx-text-fill: white;
}

#reportbtn:focused{
  -fx-background-color: #4D6DB1;
  -fx-text-fill: white;
}



.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
     -fx-background-color: #7297e5;
}

.radio-button .radio{
  -fx-font-size: 8pt;
  	-fx-text-fill: white;
    -fx-font-family: "Segoe UI Semibold";
	-fx-background-color: #4D6DB1;
    -fx-mark-color: white;
}



.titled-pane > .title {
    -fx-font-size: 8pt;
    -fx-font-family: "Segoe UI Semibold";
	-fx-border-radius: 0 0 0 0; 
	-fx-background-radius: 0 0 0 0;
	-fx-background-color: #4D6DB1;
	-fx-mark-color: white;
}
.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #4D6DB1;
    -fx-border-color: #222E57;
    -fx-border-width: 2;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}







